    body {
        font-family: 'Montserrat', sans-serif;
        overflow-x: hidden;
        margin: 0;
    }

    header {
        text-align: center;
        color: black;
    }

    header h1 {
        font-size: 3rem;
        font-weight: 700;
    }

    header p {
        font-size: 1.5rem;
        padding: 10px;
    }

    main {
        background: rgb(79,255,252);
         text-align: center;
    }

    .sky {
        border: 0px;
    }

    .sky img {
        width: 100vw;
        margin: 0;
        padding: 0; 
    }

    .earth {
        background: rgb(79,255,252);
        background: linear-gradient(180deg, rgba(79,255,252,1) 0%, rgba(75,209,206,1) 41%, rgba(62,62,62,1) 100%);
    }

    .earth img {
        width: 100vw;
        animation: planet_rotate 10s linear 0s infinite normal forwards;
    }

    .earth h2 {
        margin: 0;
        padding: 10px;
    }

    .earthText {
        background-color: rgba(62,62,62,1);
    }

    .earthText p {
        margin: 0;
        color: white;
        padding: 10px;
        font-size: large;
    }

    @keyframes planet_rotate {
        0% {
            transform: rotate(0);
        }
    
        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes ocean {
        0% {
            left: -80vw;
        }

        100% {
            left: 0;
        }
    }


    .water img {
        width: 200vw;
        position: relative;
        animation: ocean 3s linear 0s infinite normal forwards;
        background-color: rgba(62,62,62,1);
    }

    .bottles {
        background-color: rgba(62,62,62,1);
    }

    .bottles img {
        width: 120px;
        position: relative;
        top: 35vw;
        z-index: 100;
        margin: 10px;
        cursor: pointer;
        transition: transform 0.5s;
    }

    .bottles img:hover {
        transform: scale(1.1);
    }

    .waterElements {
        background-color: #a8bcd4;
    }

    .waterText p {
        margin: 0;
        font-size: large;
        padding: 20px;
    }

    .waste p {
        font-size: large;
    }

    .waste img {
        width: 70vw;
    }

    .waste, .bulb {
        background-color: #a8bcd4;
        padding: 20px;
    }

    .bulb img {
        width: 80vw;
        cursor: pointer;
        transition: transform 0.5s;
    }

    .bulb img:hover {
        transform: scale(1.1);
    }

    .bulb p {
        font-size: large;
    }