    body {
        font-family: 'Montserrat', sans-serif;
        overflow-x: hidden;
        margin: 0;
    }

    header {
        text-align: center;
        color: black;
    }

    header h1 {
        font-size: 3rem;
        font-weight: 700;
        margin-top: 15px;
    }

    header p {
        font-size: 1.5rem;
    }

    main {
        background: rgb(79,255,252);
    }

    .sky {
        border: 0px;
    }

    .sky img {
        width: 100vw;
        margin: 0;
        padding: 0; 
    }

    .earth {
        background: rgb(79,255,252);
        background: linear-gradient(180deg, rgba(79,255,252,1) 0%, rgba(75,209,206,1) 41%, rgba(62,62,62,1) 100%);
    }

    .earth img {
        width: 100vw;
        animation: planet_rotate 10s linear 0s infinite normal forwards;
    }

    @keyframes planet_rotate {
        0% {
            transform: rotate(0);
        }
    
        100% {
            transform: rotate(360deg);
        }
    }